.homepage-card-wrapper {
	overflow: hidden;
	height: 100%;
	border-radius: 10px;
	padding: 0 !important;
	box-shadow: 3px 3px 5px var(--gray-20);
}

.homepage-card-header {
	background-color: var(--purple-primary);
	text-align: center;
	width: 100%;
}

.homepage-card-info {
	display: flex;
}

.homepage-card-header h3 {
	color: var(--gold-secondary) !important;
	padding: 15px;
}

.homepage-card-image {
	min-height: 160px;
	height: 100%;
	flex-basis: 40%;
}

.homepage-card-blurb {
	padding: 10px;
	background-color: white;
	height: 100%;
}

.homepage-card-body {
	height: calc(100% - 51px);
}

.homepage-card-body>div {
	padding: 0px !important;
}